body {
  font-family: "Poppins", sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  flex-grow: 2;
  font-size: 16px;
  border: none;
  padding: 0 20px;
}
input:focus {
  outline: none;
}
.input-group {
  width: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
}
.btn {
  padding: 10px 40px;
  background: #ff6a95;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(0.99);
  opacity: 0.9;
}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 20px 10px;
  margin: 20px auto;
  position: relative;
}
.del-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.del-btn:hover {
  transform: scale(1.1);
  color: #ff6a95;
}
